[submodule "third-party/as3delaunay"]
	path = third-party/as3delaunay
	url = git://github.com/thejustinwalsh/as3delaunay.git
[submodule "third-party/as3corelib"]
	path = third-party/as3corelib
	url = git://github.com/mikechambers/as3corelib.git

[submodule "third-party/minimalcomps"]
	path = third-party/minimalcomps
	url = git://github.com/thejustinwalsh/minimalcomps.git
[submodule "third-party/as3-eaze-tween"]
	path = third-party/as3-eaze-tween
	url = git://github.com/thejustinwalsh/as3-eaze-tween.git
